.modalSize {
    width: 100%;
    height: 100%;
}

.buttonReturn {
    background-color: #4ADFE4;
}

.cursor {
    cursor: pointer;
}

.marginchiant {
    margin-top: 5%;
}

.white {
    color: white;
    height: 10%;
    width: 10%;
    margin-left: 2%;
}

.bojeu {
    width: 2rem;
    height: 2rem;
}

.faq {
    font-size: 100%;
    text-align: start;
}
.bgnav{
    background-color: #364F6B;
}
.colorgay{
    color: #4ADFE4;
}
/* flavie */
.avatar {
    margin-right: 15%;
}

.nav {
    background-color: #364F6B;

}

a.nav-link {
    color: #4ADFE4;
}

.john {
    margin-top: 2%;
    width: 80%;
    height: 10%;
}

.black-bar {
    background: #364f6b;
    opacity: 85%;
    text-align: center;
    color: #fff;
    width: 50%;
    height: 20%;
    margin-inline-start: 24%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 3%;
}

/* theo */
.imgAquarium {
    width: 80vw;
    height: auto;
}

.titleSection {
    font-size: 2rem;
    height: auto;
}

.textColor {
    color: #364F6B;
}

.imgAqua {
    width: 20rem;
    height: auto;
}


.buttonCss {
    background-color: #364F6B;
    color: white;
}

.imgShrimp {
    width: 80vw;
    height: auto;
}

.titleSection {
    font-size: 2rem;
    height: auto;
}

.textColorCrevettes {
    color: whitesmoke;
}

.textColorAqua {
    color: #364F6B;
}

.imgCrevettes {
    width: 20rem;
    height: auto;
    border-color: #364F6B;
}

.buttonCss {
    background-color: #364F6B;
    color: #4ADFE4;
    border-color: #4ADFE4;
}

.bg {
    background-color: #364F6B;
}

.titleShrimp {
    color: whitesmoke;
    padding-top: 2%;
}

.bgdd {
    background-color: #364F6B;
}

.paddinggg {
    padding-top: 3%;
    padding-bottom: 3%;
}

.titleSectionS {
    font-size: 2rem;
    height: auto;
    color: #364F6B;
}

.titleSectionInside {
    font-size: 1.5rem;
    height: auto;
    color: #364F6B;
}

.textColor {
    color: #364F6B;
}

.ultheo {
    list-style: none;
}

.imgMaps {
    width: 80%;
    height: auto;
}

.ptheo {
    color: #364F6B;
}

.litheo {
    color: #364F6B;
}

.separate{
    border-top: 2px solid #364F6B;
}

@media screen and (min-width:550px){
    .separateGrandEcran{
        border-left: 2px solid #364F6B;
    }

    .separate{
        border-top: 0px transparent;
    }
}
/* Mike */
.bg-form {
    background-color: #364F6B;
}

.partCoordonnees {

    background-color: #364F6B;
    color: white;
}



.bg-title {

    background-color: #364F6B;
    color: white;
    justify-content: center;

}

.margecontact {

    margin-top: 2%;
    margin-bottom: 2%;

}


.fa-linkedin {
    font-size: 2rem;
}


.fa-instagram {

    font-size: 2rem;

}

.test {
    width: 20rem;
}

.coord {
    border-right: 1px solid grey;

}

.test2 {
    padding-left: 30px;
}

.test3 {
    margin-left: 30px;
    width: 10rem;
}

.bgrow {
    background-color: #364F6B;
}

.infosPratiques {
    color: white;
    text-align: center;
    padding-top: 2%;
}


#paragraphe {
    color: white;
    padding: 2% 0%;
    justify-content: center;
}
.titleSection{
    font-size: 2rem;
}
.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }
